<script src="~/js/location.js"></script>
<script src="~/js/geocoding.js"></script>
<link rel="stylesheet" href="~/css/update.css">

 <nav>
    <div class="userData">
        <span>
            <a href="/profile/@ViewBag.active.UserId">
                <img class="rounded-circle" id="profilepic" src="@ViewBag.active.ProfilePic" alt="">
            </a>
        </span>
        <span id="username">@ViewBag.active.FirstName</span>

        <ul class="nav-link">
            <li>
                <a href="logout">
                    <img class="icon" src="/images/logout.png" alt="logout">
                </a>
            </li>
             <li>
                <a href="/dashboard">
                    <img class="icon" src="/images/dash.png" alt="dashboard">
                </a>
            </li>
           
            <li>
                <a href="/leaderboard" class="score">@ViewBag.active.Score</a>
            </li>
        </ul>
    </div>
</nav>
<div id="new-wrap">
<div  id="ghostContent" style="display:none">
    <div id="remainingTokens">@ViewBag.remainingTokens</div>
</div>
@model Cleanup.Models.CleanupViewModel
<form asp-controller="Cleanup" asp-action="AddCleanup" method="POST" id="newCleanup">
    <div class="newCleanup">
        <input class="form-control" asp-for="Title"placeholder="Title">
        <span asp-validation-for="Title"></span>
    </div>
    <div class="newCleanup">
        
        <input class="form-control" asp-for="DescriptionOfArea" placeholder="Describe what to look for">
        <span asp-validation-for="DescriptionOfArea"></span>
    </div>
    <div class="newCleanup">
        
        <input class="form-control" asp-for="DescriptionOfTrash" placeholder="description of litter">
        <span asp-validation-for="DescriptionOfTrash"></span>
    </div>
    <div class="newCleanup"> 
       
        <input class="form-control" asp-for="Address" id="address" placeholder="address(optional)"> 
        <span asp-validation-for="Address"></span> 
    </div>
    <div>
        <input type="hidden" asp-for="Latitude" id="Lat" value="">
        <input type="hidden" asp-for="Longitude" id="Lng" value="">
    </div>
    <div id="cleanUp-btn">
        <button class="btn btn-secondary" id="submit-btn" type="submit">Add Photo</button>
        
    </div>
</div>    
</form>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDTyblNr_Q6boR90WUWLlbhPVlc2u_6h8" async defer></script>
<div class="footer"></div>
