<script src="~/js/location.js"></script>
<script src="~/js/geocoding.js"></script>
<link rel="stylesheet" href="~/css/newcleanup.css">

<div  id="ghostContent" style="display:none">
    <div id="remainingTokens">@ViewBag.remainingTokens</div>
</div>
@model Cleanup.Models.CleanupViewModel
<nav>
    <div class="userData">
        <span>
            <a href="/profile/@ViewBag.user.UserId">
                <img class="rounded-circle" id="profilepic" src="@ViewBag.user.ProfilePic" alt="">
            </a>
        </span>
        <span id="username">@ViewBag.user.FirstName</span>

        <ul class="nav-link">
            <li>
                <a href="logout">
                    <img class="icon" src="/images/logout.png" alt="logout">
                </a>
            </li>
             <li>
                <a href="/dashboard">
                    <img class="icon" src="/images/dash.png" alt="dashboard">
                </a>
            </li>
           
            <li>
                <a href="/leaderboard" class="score">@ViewBag.user.Score</a>
            </li>
        </ul>
    </div>
</nav>
<form asp-controller="Cleanup" asp-action="AddCleanup" method="POST" id="newcleanup">
    <table>
        <tr>
            <td><label asp-for="Title"></label></td>
            <td><input asp-for="Title"></td>
            <td><span asp-validation-for="Title"></span></td>
        </tr>  
        <tr>
            <td><label asp-for="DescriptionOfArea"></label></td>
            <td><input asp-for="DescriptionOfArea"></td>
            <td><span asp-validation-for="DescriptionOfArea"></span></td>
        </tr>
        <tr>
            <td><label asp-for="DescriptionOfTrash"></label></td>
            <td><input asp-for="DescriptionOfTrash"></td>
            <td><span asp-validation-for="DescriptionOfTrash"></span></td>
        </tr>      
        <tr>
            <td><label asp-for="Address"></label></td>
            <td><input asp-for="Address" id="address" placeholder="optional"></td>
            <td><span asp-validation-for="Address"></span></td>
        </tr>
        <tr>
            <td><input type="hidden" asp-for="Latitude" id="Lat" value=""></td>
            <td><button type="submit" class="btn btn-success">Add photos!</button></td>
            <td><input type="hidden" asp-for="Longitude" id="Lng" value=""></td>
        </tr>
    </table>
</form>
<footer></footer>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDTyblNr_Q6boR90WUWLlbhPVlc2u_6h8" async defer></script> 