ul.nav-link li {
    text-decoration: none;
    list-style: none;
    line-height: 2px;
    float:right;
    padding: 0em .5em;

}

.icon {
    margin-top: 20px;
    width: 30px;
}
.footer {
    border-top: 5px solid #555655;
    padding: 25px 10px 0px 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    background: url(/images/bkg.png);
    background-size: 100%;
    width: 100%;
    height: 10%;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 25px 10px 0px 10px;
    height: 90px;
    background: url(/images/bkg.png);
    background-size: 100%;
    border-bottom: 5px solid #555655;
}
#admin-img {
    width: 40px;
    height: 40px;
}
#admin-table {
    width: 100%;
    margin-top: 100px;
}
.admin-title {
    margin-top: 30px;
    line-height: 1.5px;
    display: inline-block;
  

}
.user-data{
    margin-left: 10px;
}

.img-file {
    width: 80%;
    text-align: center;
    
}
#approve {
    margin: 5px auto;
    text-align: center;
    display: block;
    width: 120px;
    background-color: #6d6d6d;
    border: 1px solid #6d6d6d;

}
.admin-viewimg {
   
    width: 60%;
}

.userData {
    margin-left: 10px;
}
#form-data {
    
    overflow-y: scroll;
    padding-bottom: 75px;
    margin-top: 100px;
}
.form-add {
    text-align: center;
    width: 60%;
    margin: 0 auto;
}