*{
    padding: 0px;
    margin: 0px;
}
header{
    position: absolute;
    height: 10%;
    width: 100%;
    padding: 15px;
    background-color: rgb(10, 200, 40);
}
header h2{
    display: inline-block;
    margin-right: 60%;
}
header a{
    font-size: 20px;
}
#board{
    position: absolute;
    height: 80%;
    width: 100%;
    top:10%;
    padding: 20px;
    overflow-y: auto;
}
footer{
    position: absolute;
    height: 10%;
    width: 100%;
    top: 90%;
    padding: 20px;
    background-color: rgb(10, 200, 40);
}
fieldset{
    border: 1px black solid;
}
.post img, .post p{
    margin: 5px;
    display: inline-block;
}
legend{
    font-size: 15px;
    margin-bottom: 3px;
}
.footer {
    border-top: 5px solid #555655;
    padding: 25px 10px 0px 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    background: url(/images/bkg.png);
    background-size: 100%;
    width: 100%;
    height: 20%;
}
nav {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 25px 10px 0px 10px;
    height: 65px;
    background: url(/images/bkg.png);
    background-size: 100%;
    border-bottom: 5px solid #555655;
}
#username {
    color: #6d6d6d;
    font-weight: 600;
    font-size: 20px;
    position: fixed;
    left: 70px;
    top: 33px;
}
ul.nav-link li {
    text-decoration: none;
    list-style: none;
    float:right;
    vertical-align: top;
    padding: 0em 1em;
}
.nav-link {
    margin-right: 20px;
}
.icon {
    margin-left: 10px;
    width: 30px;
    float: right;
}
.score {
    background-color: white;
    border-radius: 20%;
    width: 100%;
    height: 100%;
    padding: 5px 8px;
    text-decoration: none;
    font-weight: 600;
    color: #6d6d6d;
    
}
#chat-data {
    line-height: 1.5px;
    display: inline-block;
    color: #6d6d6d;
}
#textarea {
    display: inline-block;
    vertical-align: top;
    width: 72%;
    height: 90px;
    border-radius: 5px 0px 0px 5px;
}
#post-btn {
    width: 60px;
    display: inline-block;
    vertical-align: top;
}
#post, #refresh {
    height: 41px;
    border-radius: 0px 5px 5px 0px;
    width: 95px;
}
#refresh {
    background-color: #6d6d6d;
    border: 1px solid #6d6d6d;
    margin-top: 5px;
}